<main class='card-container'>
  <h1 class='text-center honk'>My Cart</h1>
  <div class='row justify-content-center'>
    {{#each cartItems as |cartItem|}}
      <div class='card col-md-3 m-3'>
        <div class='card-header'>
          <h2>{{cartItem.product_id}}</h2>
          <h3>{{cartItem.user_id}}</h3>
          <button class='btn btn-outline-primary remove-button'><i class="fas fa-times"></i></button>
        </div>
      </div>
    {{/each}}
  </div>
    <div class="text-center mt-4">
    <button class="btn btn-secondary checkout">Proceed to Checkout</button>
  </div>
</main>