<main class="container mt-6">
    <h1 class="text-center">Shop Yeez-n-Jays</h1>
    <div class="main">
        <a href="http://localhost:3001/products">
            <img src="path/to/your/image.jpg" alt="Description of the image">
        </a>
    </div>
</main>