<main class="container mt-6">
    <h1 class="text-center">
        <a href="http://localhost:3001/products" class="honk">Shop Yeez-n-Jays</a>
    </h1>
    <div class="main">
        <a href="http://localhost:3001/products">
            <img src="/Develop/public/images/home-logo.jpg" alt="Yeez-N-Jays Logo">
        </a>
    </div>
</main>