<div class='text-center'>
  <h1 class='mb-3'>Welcome back! Please log in to shop Yeez-n-Jays!</h1>
</div>
<main class='container mt-4 d-flex justify-content-center align-items-center'>
  <form class='yeeznjays-login-form'>
    <div class='mb-2'>
      <label for='username' class='form-label'>Username</label>
      <input
        type='text'
        class='form-control'
        id='username-yeeznjays-login'
        placeholder='Enter Username'
        autocomplete='username'
      />
    </div>
    <div class='mb-2'>
      <label for='password' class='form-label'>Password</label>
      <input
        type='password'
        class='form-control'
        id='password-yeeznjays-login'
        placeholder='Enter Password'
        autocomplete='current-password'
      />
    </div>
    <button type='submit' class='btn btn-secondary'>Login</button>
  </form>
</main>
<script src='/js/login.js'></script>