<main class="container mt-4">
    <h1 class="mb-3">Yeez-n-Jays'er Login</h1>
    <form class="yeeznjays-login-form">
        <div class="mb-2">
            <label for="username" class="form-label">Yeez-n-Jays'er Name</label>
            <input type="text" class="form-control" id="username-yeeznjays-login" placeholder="Yeez-n-Jays'er Name" autocomplete="username"/>
        </div>
        <div class="mb-2">
            <label for="password" class="form-label">Yeez-n-Jays'er Password</label>
            <input type="password" class="form-control" id="password-yeeznjays-login" placeholder="Yeez-n-Jays'er Password" autocomplete="current-password"/>
        </div>
        <button type="submit" class="btn btn-warning">Yeez-n-Jays'er Login</button>
    </form>
</main>