<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Yeez-n-Jays</title>
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css'
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body class='bg-dark text-info'>
    <header>
      <nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
        <div class='container-fluid'>
          <a class='navbar-brand fs-2' href='/'><strong>Yeez-n-Jays</strong></a>
          <button
            class='navbar-toggler'
            type='button'
            data-bs-toggle='collapse'
            data-bs-target='#navbarNav'
            aria-controls='navbarNav'
            aria-expanded='false'
            aria-label='Toggle navigation'
          >
            <span class='navbar-toggler-icon'></span>
          </button>
          <div class='collapse navbar-collapse justify-content-end' id='navbarNav'>
            <ul class='navbar-nav ms-auto'>
              <li class='nav-item'>
                <a class='nav-link text-light' href='/'><strong>Home</strong></a>
              </li>
              <li class='nav-item'>
                <a class='nav-link text-light' href='/products'><strong>Stock</strong></a>
              </li>
              {{#if logged_in}}
              <li class="nav-item">
                <a class='nav-link text-light' href='/shopping'><strong>Shopping Cart</strong></a>
              </li>
              <li class='nav-item'>
                <a class='nav-link text-light' href='#' id='yeeznjays-logout'><strong>Log Out</strong></a>
              </li>
              {{else}}
                <li class='nav-item'>
                  <a class='nav-link text-light' href='/login'><strong>Log In</strong></a>
                </li>
                <li class='nav-item'>
                  <a class='nav-link text-light' href='/signup'><strong>Sign Up</strong></a>
                </li>
              {{/if}}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class='container' style='margin-bottom: 15vh;'>
      {{{body}}}
    </div>
    <footer class="bg-dark">
      <div class='container'>
        <div class='row justify-content-center'>
          <div class='col-md-5 text-center'>
            <h3>&copy; 2024 Yeez-n-Jays All Rights Reserved</h3>
          </div>
        </div>
      </div>
    </footer>
    <script src='js/script.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js'></script>
  </body>
</html>
